#browser {
    background-color: var(--lwt-accent-color);
    background-image: var(--lwt-additional-images, none);
    background-repeat: var(--lwt-background-tiling, none);
    background-position-x: left 100vh;
}

#urlbar-container {
    /* min-height: 43px; */
    min-height: 28px;
    min-width: 28px;
    cursor: pointer;
    max-width: 28px;
}

#urlbar-container::after {
    content: "";
    background-image: url(chrome://global/skin/icons/search-glass.svg);
    height: 16px;
    width: 16px;
    position: absolute;
    left: calc(50% - 8px);
}

#identity-icon-box {
    height: 22px;
    padding-inline: 3px !important;
}

#page-action-buttons {
    margin-left: auto;
}

#translations-button {
    display: none;
}

#TabsToolbar {
    visibility: collapse !important;
}

#nav-bar {
    border-top: none !important;
}

:root {
    --thin-tab-width: 56px;
    --wide-tab-width: 253px;
}

#sidebar-box {
    min-width: var(--thin-tab-width) !important;
}

:root[inDOMFullscreen] .sidebar-before,
:root[inDOMFullscreen] .sidebar-after {
    visibility: collapse !important;
}

.sidebar-before,
.sidebar-after {
    content: "";
    height: 10px;
    width: 56px;
    background-color: var(--lwt-accent-color);
    background-image: var(--lwt-additional-images, none);
    background-repeat: var(--lwt-background-tiling, none);
    background-position-x: left 100vh;
    position: absolute;
    z-index: 2;
    transition: width linear 0.05s;
}

.sidebar-before {
    mask-image: radial-gradient(circle at 100% 0, transparent 10px, #000 11px);
}

.sidebar-after {
    mask-image: radial-gradient(circle at 100% 100%, transparent 10px, #000 11px);
}

.sidebar-before.hovered,
.sidebar-after.hovered {
    width: 66px;
}

#sidebar-header {
    display: none;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    overflow: hidden !important;
    position: relative !important;
    transition: all 100ms ease-in-out 0.25s, height 0s !important;
    min-width: var(--thin-tab-width) !important;
    max-width: var(--thin-tab-width) !important;
    z-index: 2;
    background: transparent !important;
    clip-path: inset(0px round 0px 9px 9px 0px);
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar {
    transition: all 0.25s, height 0s !important;
    min-width: var(--wide-tab-width) !important;
    max-width: var(--wide-tab-width) !important;
    z-index: 1;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
    margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
    /* border-radius: 0px 9px 9px 0px; */
}

#nav-bar-customization-target {
    flex-wrap: wrap;
}

#nav-bar-customization-target toolbaritem:first-child {
    padding-left: 0 !important;
}

:root[customizing] .customization-target:not(#widget-overflow-fixed-list) {
    min-width: var(--thin-tab-width) !important;
}

toolbarbutton {
    padding: 0 !important;
}

.toolbaritem-combined-buttons {
    margin-inline: 0 !important;
}

#navigator-toolbox {
    border-bottom: 0 !important;
    position: absolute;
    z-index: 5;
    width: var(--thin-tab-width);
    background-size: cover;
}

#urlbar-container {
    width: auto !important;
    padding: 0 !important;
    font-size: 10px;
}

#menubar-items {
    display: none;
}

.titlebar-buttonbox {
    display: none;
}

#nav-bar-customization-target > toolbarpaletteitem[place="toolbar"] {
    visibility: visible !important;
    display: -moz-box !important;
    position: static !important;
}

#nav-bar .toolbarbutton-1,
#nav-bar .chromeclass-toolbar-additional,
#nav-bar .toolbarbutton-1[overflowedItem] {
    visibility: visible !important;
    display: -moz-box !important;
}

#nav-bar .customization-target {
    overflow: visible !important;
}

#nav-bar-overflow-button {
    display: none !important;
}

toolbaritem:not(#minimize-window-button_nanpuyue_com-browser-action) {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.bookmark-item {
    padding: 4px !important;
    margin: 0px !important;
}

#PlacesToolbarItems {
    flex-wrap: wrap !important;
    justify-content: space-between;
}

#PlacesChevron {
    display: none !important;
}

#personal-bookmarks .bookmark-item {
    visibility: visible !important;
    max-width: none !important;
    overflow: visible !important;
}

#PersonalToolbar {
    max-height: fit-content !important;
}

.sidebar-splitter {
    display: none;
}
